.posting {
    background-color: white;
    margin-top: 2em;
    box-shadow: 0 0 10px #000000;
    border-radius: 15px;
    width: 552px;
    height: max-content;
    padding: 6px;
    margin: auto;
    margin-top: 18px
}

.entered {
    border-bottom: ridge;
    padding: 8px;
    padding-left: 38px;
}

.post {
    font-size: 14px;
    font-weight: 300;
}

.name {
    font-size: 16px;
    font-weight: 523;
}

.buttons img {
    width: 14px;
    margin-right: 2px;
}

.buttons {
    text-align: right;
}

.buttons button {
    border: none;
}